@import url('https://fonts.googleapis.com/css?family=Bungee+Inline');

$font-h: 'Bungee Inline', cursive;

$font-color: #222222;
$main-color: #F0EFE9;
$sub-color: #D81E5B;
$bg-color: #fafafa;

$brown: #3A3335;
$light-brown: #f6f6f4;
$white: #ffffff;
$gray: #666666;
$light-gray: #999999;
$dark-gray: #333333;

$spacer: 1rem;

$font-size-h2: 5.0rem;
$font-size-h3: 3.2rem;
$font-size-h4: 2.4rem;